In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import seaborn as sns
import warnings
import json

In [3]:
df = pd.read_csv('belly_button_biodiversity_otu_id.csv')
otu_df=df.set_index('otu_id')

# otu_df

In [4]:
# json_otu=json.dumps(json.loads(otu_df.to_json(orient='index')), indent=2)

# json_otu= otu_df.to_json(orient='index'), indent=2

# print(json_otu)

In [5]:
otu_desc = otu_df["lowest_taxonomic_unit_found"].tolist()

# otu_desc

In [6]:
df1 = pd.read_csv('Belly_Button_Biodiversity_Metadata.csv')

metadata_df=df1.set_index('SAMPLEID')

# metadata_df

In [7]:
json_metadata=metadata_df.to_json(orient='index')

# json_metadata

In [8]:

metadata_dict = metadata_df.to_dict(orient="index")

# metadata_dict

In [9]:
search_term=1517

metadata_dict[search_term]['WFREQ']

# for key, value in metadata_dict.items():   
#     if key == search_term:
#         print(value)

0.0

In [10]:
df2 = pd.read_csv('belly_button_biodiversity_samples.csv')


samples_df=df2.set_index('otu_id')

# samples_df

In [11]:
json_samples=json.dumps(json. loads(samples_df.to_json(orient='index')), indent=4)

print(json_samples)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

In [12]:
samples_header=list(samples_df.columns.values)

samples_header

['BB_940',
 'BB_941',
 'BB_943',
 'BB_944',
 'BB_945',
 'BB_946',
 'BB_947',
 'BB_948',
 'BB_949',
 'BB_950',
 'BB_952',
 'BB_953',
 'BB_954',
 'BB_955',
 'BB_956',
 'BB_958',
 'BB_959',
 'BB_960',
 'BB_961',
 'BB_962',
 'BB_963',
 'BB_964',
 'BB_966',
 'BB_967',
 'BB_968',
 'BB_969',
 'BB_970',
 'BB_971',
 'BB_972',
 'BB_973',
 'BB_974',
 'BB_975',
 'BB_978',
 'BB_1233',
 'BB_1234',
 'BB_1235',
 'BB_1236',
 'BB_1237',
 'BB_1238',
 'BB_1242',
 'BB_1243',
 'BB_1246',
 'BB_1253',
 'BB_1254',
 'BB_1258',
 'BB_1259',
 'BB_1260',
 'BB_1264',
 'BB_1265',
 'BB_1273',
 'BB_1275',
 'BB_1276',
 'BB_1277',
 'BB_1278',
 'BB_1279',
 'BB_1280',
 'BB_1281',
 'BB_1282',
 'BB_1283',
 'BB_1284',
 'BB_1285',
 'BB_1286',
 'BB_1287',
 'BB_1288',
 'BB_1289',
 'BB_1290',
 'BB_1291',
 'BB_1292',
 'BB_1293',
 'BB_1294',
 'BB_1295',
 'BB_1296',
 'BB_1297',
 'BB_1298',
 'BB_1308',
 'BB_1309',
 'BB_1310',
 'BB_1374',
 'BB_1415',
 'BB_1439',
 'BB_1441',
 'BB_1443',
 'BB_1486',
 'BB_1487',
 'BB_1489',
 'BB_1490',
 'BB_1491',
 'BB_1494',
 'BB_1495',
 'BB_1497',
 'BB_1499',
 'BB_1500',
 'BB_1501',
 'BB_1502',
 'BB_1503',
 'BB_1504',
 'BB_1505',
 'BB_1506',
 'BB_1507',
 'BB_1508',
 'BB_1510',
 'BB_1511',
 'BB_1512',
 'BB_1513',
 'BB_1514',
 'BB_1515',
 'BB_1516',
 'BB_1517',
 'BB_1518',
 'BB_1519',
 'BB_1521',
 'BB_1524',
 'BB_1526',
 'BB_1527',
 'BB_1530',
 'BB_1531',
 'BB_1532',
 'BB_1533',
 'BB_1534',
 'BB_1535',
 'BB_1536',
 'BB_1537',
 'BB_1539',
 'BB_1540',
 'BB_1541',
 'BB_1542',
 'BB_1543',
 'BB_1544',
 'BB_1545',
 'BB_1546',
 'BB_1547',
 'BB_1548',
 'BB_1549',
 'BB_1550',
 'BB_1551',
 'BB_1552',
 'BB_1553',
 'BB_1554',
 'BB_1555',
 'BB_1556',
 'BB_1557',
 'BB_1558',
 'BB_1561',
 'BB_1562',
 'BB_1563',
 'BB_1564',
 'BB_1572',
 'BB_1573',
 'BB_1574',
 'BB_1576',
 'BB_1577',
 'BB_1581',
 'BB_1601']

In [13]:
df3 = pd.read_csv('metadata_columns.csv')

metadata_col_df=df3.set_index('COLUMN')

# metadata_col_df

In [14]:
json_metadata_col=json.dumps(json.loads(metadata_col_df.to_json(orient='index')), indent=6)

print(json_metadata_col)

{
      "SAMPLEID": {
            "TYPE": "INTEGER",
            "DESCRIPTION": "sample_id"
      },
      "EVENT": {
            "TYPE": "TEXT",
            "DESCRIPTION": "Collection event "
      },
      "ETHNICITY": {
            "TYPE": "TEXT",
            "DESCRIPTION": "Ethnicity"
      },
      "GENDER": {
            "TYPE": "TEXT",
            "DESCRIPTION": "Gender (male/female)"
      },
      "AGE": {
            "TYPE": "INTEGER",
            "DESCRIPTION": "Age (in years)"
      },
      "WFREQ": {
            "TYPE": "INTEGER",
            "DESCRIPTION": "Washing Frequency (belly button scrubs per week)"
      },
      "BBTYPE": {
            "TYPE": "TEXT",
            "DESCRIPTION": "Innie or Outtie?"
      },
      "LOCATION": {
            "TYPE": "TEXT",
            "DESCRIPTION": "City and State in which participant lived at time of sampling"
      },
      "COUNTRY012": {
            "TYPE": "TEXT",
            "DESCRIPTION": "Country in which participant lived from age 0 to 12"
      },
      "ZIP012": {
            "TYPE": "INTEGER",
            "DESCRIPTION": "Zip code in which participant lived from age 0 to 12"
      },
      "COUNTRY1319": {
            "TYPE": "TEXT",
            "DESCRIPTION": "Country in which participant lived from age 13 to 19"
      },
      "ZIP1319": {
            "TYPE": "INTEGER",
            "DESCRIPTION": "Zip code in which participant lived from age 13 to 19"
      },
      "DOG": {
            "TYPE": "TEXT",
            "DESCRIPTION": "Do you Currently Live with a Dog (yes or no)?"
      },
      "CAT": {
            "TYPE": "TEXT",
            "DESCRIPTION": "Do you Currently Live with a Cat (yes or no)?"
      },
      "IMPSURFACE013": {
            "TYPE": "INTEGER",
            "DESCRIPTION": "Impervious surface (such as cement) in center of zipcode where participant lived from 0 to 13"
      },
      "NPP013": {
            "TYPE": "FLOAT",
            "DESCRIPTION": "Net Primary Productivity in center of zipcode where participant lived from 0 to 13"
      },
      "MMAXTEMP013": {
            "TYPE": "FLOAT",
            "DESCRIPTION": "Mean maximum monthly temperature in center of zipcode where participant lived from 0 to 13"
      },
      "PFC013": {
            "TYPE": "FLOAT",
            "DESCRIPTION": "Percent Forest Cover in center of zipcode where participant lived from 0 to 13"
      },
      "IMPSURFACE1319": {
            "TYPE": "INTEGER",
            "DESCRIPTION": "Impervious surface (such as cement) in center of zipcode where participant lived from 13 to 19"
      },
      "NPP1319": {
            "TYPE": "FLOAT",
            "DESCRIPTION": "Net Primary Productivity Impervious surface (such as cement) in center of zipcode where participant lived from 13 to 19"
      },
      "MMAXTEMP1319": {
            "TYPE": "FLOAT",
            "DESCRIPTION": "Mean maximum monthly temperaturein center of zipcode where participant lived from 13 to 19"
      },
      "PFC1319": {
            "TYPE": "FLOAT",
            "DESCRIPTION": "Percent Forest Cover in center of zipcode where participant lived from 13 to 19"
      }
}

In [15]:
def get_num_from_string(string):  
    '''This function retrieves numbers from a string and converts them to integers'''  
    # Create empty string to store numbers as a string  
    num = ''  
    # Loop through characters in the string  
    for i in string:  
        # If one of the characters is a number, add it to the empty string  
        if i in '1234567890':  
            num+=i  
    # Convert the string of numbers to an integer  
    integer = int(num)  
    return integer

In [21]:
string="BB_940"

temp_df=samples_df[[string]]

temp_df = temp_df.sort_values(string, ascending=False)

temp_df=temp_df.fillna(0)

temp_df

sample_values = temp_df[string].tolist()



otu_id_list = temp_df.index.tolist()

otu_id_list=list(map(int, otu_id_list))

samples_dict = {"otu_id":otu_id_list, "sample_values":sample_values}

# print(samples_dict)

samples_list=[]
    
samples_list.append(dict(samples_dict))

print(samples_list[0])

        BB_940
otu_id
1167     163.0
2859     126.0
482      113.0
2264      78.0
41        71.0
1189      51.0
352       50.0
189       47.0
2318      40.0
1977      40.0
3450      37.0
874       36.0
1959      30.0
2191      28.0
1950      25.0
2077      23.0
2275      22.0
2184      19.0
944       19.0
2244      14.0
2419      13.0
2024      13.0
2811      13.0
2782      12.0
165       12.0
2396      11.0
2247      11.0
2011      11.0
830       10.0
1795      10.0
...        ...
1315       0.0
1290       0.0
1289       0.0
1288       0.0
1287       0.0
1263       0.0
1264       0.0
1265       0.0
1266       0.0
1267       0.0
1268       0.0
1269       0.0
1270       0.0
1271       0.0
1272       0.0
1273       0.0
1275       0.0
1276       0.0
1277       0.0
1278       0.0
1279       0.0
1280       0.0
1281       0.0
1282       0.0
1283       0.0
1284       0.0
1285       0.0
1286       0.0
3674       0.0
3462       0.0

[3674 rows x 1 columns]

In [98]:
string="BB_940"

def get_num_from_string(string):  
        num = ''  
    # Loop through characters in the string  
        for i in string:  
            # If one of the characters is a number, add it to the empty string  
            if i in '1234567890':  
                num+=i  
        # Convert the string of numbers to an integer  
        integer = int(num)  
        return integer
    
# string= sample
    
sample_id = get_num_from_string(string)

# print(sample_id)

metadata_dict[sample_id]

sample_item={}


sample_item['AGE'] = metadata_dict[sample_id]['AGE']
sample_item['BBTYPE'] = metadata_dict[sample_id]['BBTYPE']
sample_item['ETHNICITY'] = metadata_dict[sample_id]['ETHNICITY']
sample_item['GENDER'] = metadata_dict[sample_id]['GENDER']
sample_item['LOCATION'] = metadata_dict[sample_id]['LOCATION']
sample_item['SAMPLEID'] = sample_id

print(sample_item)

{'AGE': 24.0, 'BBTYPE': 'I', 'ETHNICITY': 'Caucasian', 'GENDER': 'F', 'LOCATION': 'Beaufort/NC', 'SAMPLEID': 940}